.left {
	background-color: aquamarine;
	position: fixed;
	width: 50%;
	height: 50%;
	top: 0;
	left: 0;
}

.right {
	background-color: bisque;
	position: fixed;
	width: 50%;
	height: 50%;
	top: 0;
	right: 0;

}

a.button{

}

a{

}

.rocket.flying{
	position: absolute;
	left: 50%;
	bottom: 500px;
	width: 20px;
	height: 100px;
	background-color: black;
	transition: bottom 10000ms;

}

.ground{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
	background-color: green;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 20px;
	height: 100px;
	background-color: black;
}